<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <%= simple_form_for [@drink_opportunity, @bid] do |f| %>
        <%= f.input :contract, label:false %>
        <%= f.input :notes, placeholder: 'Insert the description of your offer here', label:false %>
        <%= f.input :price, placeholder: 'Insert your price in £', label:false %>
        <%= f.submit "Send your Bid" %>
      <% end %>
    </div>
  </div>
</div>


