
<div class="nav-wrapper">
  <div class="container">
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
          <%= link_to "/venues", class: "navbar-brand" do %>
            <%= image_tag "logo.png" %>
            <% end %>


  <div class="row">
    <div class="col-12">
      <%= form_tag venues_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "ðŸ” Search for tenders"
      %>
    </div>
  <% end %>
  </div>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <% if user_signed_in? %>
                <li class="nav-item active mr-4">
                  <%= link_to "HOW IT WORKS", "#", class: "nav-link", id: "nav-tab" %>
                </li>
                <li class="nav-item active mr-4">
                  <%= link_to "USE CASES", "#", class: "nav-link", id: "nav-tab" %>
                </li>
                <li class="nav-item active mr-4">
                  <%= link_to "ABOUT US", "#", class: "nav-link", id: "nav-tab" %>
                </li>
                <li class="nav-item dropdown">
                  <% if current_user.photo.attached? %>
                  <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
                  <% else %>
                    <%= image_tag "https://icon-library.com/images/no-profile-pic-icon/no-profile-pic-icon-12.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                  <% end %>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <%= link_to "Account", profile_index_path(current_user), class: "dropdown-item" %>
                    <%= link_to "Another action", "#", class: "dropdown-item" %>
                    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                  </div>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to "LOG IN", new_user_session_path, class: "nav-link mr-3" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Sign up", new_user_registration_path, class: "nav-link sign-up-button btn btn-gray btn-sm p-2 border-gray" %>
                </li>
              <% end %>
            </ul>
      </div>
    </div>
  </div>
</div>

 <div class="flex-row filter-tabs-row d-none">
      <ul class="navbar-nav flex-row", id="filter-tabs">
        <li class="nav-item active mr-2">
          <%= link_to "Lager", "venues?query=lager", class: "nav-link", id: "nav-tab" %>
        </li>
        <li class="nav-item active mr-4">
          <%= link_to "Cider", "venues?query=cider", class: "nav-link", id: "nav-tab" %>
        </li>
        <li class="nav-item active mr-4">
          <%= link_to "Craft beer", "venues?query=craft beer", class: "nav-link", id: "nav-tab" %>
        </li>
        <li class="nav-item active mr-4">
          <%= link_to "Bitter", "venues?query=bitter", class: "nav-link", id: "nav-tab" %>
        </li>
        <li class="nav-item active mr-4">
          <%= link_to "Stout", "venues?query=stout", class: "nav-link", id: "nav-tab" %>
        </li>
        <li class="nav-item active mr-4">
          <%= link_to "Red wine", "venues?query=red wine", class: "nav-link", id: "nav-tab" %>
        </li>
        <li class="nav-item active mr-4">
          <%= link_to "White wine", "venues?query=white wine", class: "nav-link", id: "nav-tab" %>
        </li>
        <li class="nav-item active mr-4">
          <%= link_to "Sparkling wine", "venues?query=sparkling wine", class: "nav-link", id: "nav-tab" %>
        </li>
        <li class="nav-item active mr-4">
          <%= link_to "Fortified wine", "venues?query=fortified wine", class: "nav-link", id: "nav-tab" %>
        </li>
        <li class="nav-item active mr-4">
          <%= link_to "Champagne", "venues?query=champagne", class: "nav-link", id: "nav-tab" %>
        </li>
        <li class="nav-item active mr-4">
          <%= link_to "Carbonated soft drinks", "venues?query=carbonated soft drinks", class: "nav-link", id: "nav-tab" %>
        </li>
        <li class="nav-item active mr-4">
          <%= link_to "See all categories", "/venues", class: "nav-link", id: "nav-tab" %>
        </li>
      </ul>
    </div>
