<div class="container">
  <div class="row new-from-create justify-content-center">
    <div class="col-12 col-sm-12 form-login">
      <%= simple_form_for (@venue) do |f| %>
        <%= f.input :venue_name %>
        <%= f.label :description %>
        <%= f.rich_text_area  :description, :as => :text, :input_html => { 'rows' => 5, 'cols' => 10 } %>
        <%= f.input :region %>
        <%= f.input :city %>
        <%= f.input :post_code %>
        <%= f.input :photo, as: :file %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
