
<div class="banner-small">
  <div class="container">
  </div>
</div>
<div class ="container">

  <div class="margin-top-40 d-flex">
    <div class="col-md-4 p-0">
      <h1><%= @venue.venue_name %></h1>
      <h3>Venue type</h3>
    </div>

    <div class="venue-logo col-md-6">
        <% if @venue.photo.attached? %>
         <%= cl_image_tag @venue.photo.key %>
        <% else %>
          <img src="https://www.historic-uk.com/wp-content/uploads/2019/02/oldest-pub-in-england-2800x1440.jpg" alt="">
        <% end %>
    </div>
  </div>


    <div class ="body-flex">


      <div class="flex-left">
        <p><strong>About</strong></p>
        <p><%= @venue.description %></p>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum id ab perferendis sequi,
        odit quo est maxime modi nobis, quis quod necessitatibus culpa aspernatur, praesentium
        optio qui atque eius. Laboriosam!</p>
      </div>

      <div class="flex-right">
          <p><strong>Location</strong></p>
          <p><%= @venue.region %></p>
          <p><%= @venue.city %></p>
          <p><%= @venue.post_code %></p>
          <% if @venue.user == current_user %>
            <%= link_to "Edit", edit_venue_path(@venue), class: 'mt-4  btn btn-warning'%>
            <%= link_to "Delete", venue_path(@venue), class: 'mt-4  btn btn-secondary', method: :delete, data: { confirm: 'Are you sure that you want to delete this venue?' } %>
          <% end %>
      </div>
  </div>
</div>

 <div class ="container">
    <div>
      <h2>Listings:</h2>
      <p>Item:</p>
      <p>Period:</p>
      <p>Description:</p>
      <p>Price:</p>
    </div>

    <div>
      <% @venue.drinks_opportunities.each do |opportunity|  %>
        <%= Drink.find(opportunity.drink_id).name %>
        <%=opportunity.start_time %>
        <%=opportunity.end_time %>
        <%= link_to "Place bid", new_drinks_opportunity_bid_path(opportunity) %>
      <% end %>

    </div>
  </div>

   <div class ="container mt-4">
    <div>
      <h2>Bidding History</h2>
    </div>
  </div>

  <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>


