

<div class="row p-5">
  <div class="table-responsive">
    <table class="table">

      <tbody>
        <tr class="row-border">
          <td class="label"><strong>Venue:</strong></td>
           <td class="label"><strong>Start date:</strong></td>
           <td class="label"><strong>End date:</strong></td>
           <td class="label"><strong>Qty:</strong></td>
           <td class="label"><strong>Type:</strong></td>
           <td class="label"><strong>Link</strong></td>
           <!-- <td class="label"><strong>Approve bid</strong></td> -->
        </tr>

        <% @drinksopportunities.each do |drinksopportunity| %>
          <% if current_user.id === drinksopportunity.venue.user_id %>
            <tr class="row-border">
              <% venue = drinksopportunity.venue %>
              <td> <%= drinksopportunity.venue.venue_name %> </td>
              <td> <%= drinksopportunity.start_time.strftime('%e %B %Y') %> </td>
              <td> <%= drinksopportunity.end_time.strftime('%e %B %Y') %> </td>
              <td> <%= drinksopportunity.quantity %> </td>
              <td> <%= drinksopportunity.bottle_type %> </td>
              <td> <%= link_to "view", venue_path(venue)%></td>
              <<!-- td> <input type="checkbox"></td> -->

            </tr>
          <% end %>
        <% end %>

      </tbody>

    </table>
  </div>
</div>


