

<div class="row p-5">
  <div class="table-responsive">
    <table class="table">

      <tbody>
        <tr class="row-border">
          <td class="label">Venue:</td>
           <td class="label">Start in:</td>
           <td class="label">Ends in:</td>
           <td class="label">Volume:</td>
           <td class="label">Drink:</td>
           <td class="label"> </td>
           <td class="label"> </td>
        </tr>

        <% @drinksopportunities.each do |drinksopportunity| %>
          <% if current_user.id === drinksopportunity.venue.user_id %>
            <tr class="row-border">
              <% venue = drinksopportunity.venue %>
              <td> <%= link_to drinksopportunity.venue.venue_name, venue_path(venue)%></td>
              <td> <%= drinksopportunity.venue.venue_name %> </td>
              <td> <%= drinksopportunity.start_time %> </td>
              <td> <%= drinksopportunity.end_time %> </td>
              <td> <%= drinksopportunity.quantity %> </td>

            </tr>
          <% end %>
        <% end %>

      </tbody>

    </table>
  </div>
</div>


